[submodule "wine"]
	path = wine
	url = https://github.com/mikugirls/wine.git
	branch = arm64ec
[submodule "fex"]
	path = fex
	url = https://github.com/mikugirls/FEX.git
	branch = main
[submodule "box64"]
	path = box64
	url = https://github.com/ptitSeb/box64.git
	branch = main
